# auto load servers list for MONITOR.BIN
# CR-LF
SERVER=/SERVERS/ELF.BN5
SERVER=/SERVERS/PE.BN5
# SERVER=/SERVERS/MONES.EX5
SERVER=/SERVERS/KEYBDMNG.EX5
SERVER=/SERVERS/MOUSE.EX5
#SERVER=/SERVERS/IMESVR.EX5
SERVER=/SERVERS/OLDSHELL.EX5
# SERVER=/SERVERS/BAYGUI.EX5
