@charset "utf-8";
/* CSS Document */

/*Basic Definitions */

html{
	marign:0;
	padding:0;
}


body{
	margin: 0;
  padding: 0;
  font-family: Verdana, Arial, sans-serif;
  color: #000000;
	font-size:90%;
  background: #FBF8E4 url(../images/logo.png) no-repeat;
	word-break:break-all;
	}

h1{
	margin:25px 0 10px 0;
	padding:0.25em 0.3em;
	font-size:140%;
	background:#DAEFFC url(../images/h1_bg.png) repeat-x left bottom;
	border:1px solid #BDCCDF;
	border-bottom:none;
	color:#4578DB;
}

h2{
	margin:25px 5px 10px 0;
	padding:0.25em 0.3em;
	font-size:125%;
	background: #F0F8FF;
	border-bottom:1px solid #6699FF;
	border-left:2px solid #6699FF;
	color:#4578DB;
}

h3{
	font-size:120%;
	color:#4578DB;
	border-bottom:2px dotted #4578DB;
	padding:0.25em 0;
	margin:1em 15px 0.5em 1em;
}



h4{
	font-size:105%;
	font-weight:normal;
	color: #4578DB;
	padding:0 0 0 0.5em;
	margin:1em 10px 0.5em 0.5em;
	border-left:5px solid #8FA9D8;
}

p{
	margin: 0.1em 0.5em 0.1em 1.25em;
}

pre{
	background:#F5F5F5;
	border:2px solid #CCCCCC;
	padding:0.5em;
	margin:0;
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  white-space: pre-wrap;      /* CSS3 */
  word-wrap: break-word;      /* IE 5.5+ */
}

.Prototype{
	background:#F5F5F5;
	border:1px solid #CCCCCC;
	padding:0.5em;
	margin:0;
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  white-space: pre-wrap;      /* CSS3 */
  word-wrap: break-word;      /* IE 5.5+ */
}



.STitle{
	margin:35px 0 -5px 10px;
	padding:0;
	font-size:100%;
	color:#666666;
	font-weight:bold;
}


a:link , a:visited{
	color:#0033CC;
}

a:active , a:hover{
	color: #9933CC;
}


/* ID(#)*/
#Content , #Index{
	padding: 0px 0 15px 15px !important;
	margin: 75px 30px 0 260px;
  background: #FFFFFF;
	border:1px solid #CCCCCC;
    }

.PopupSearchResultsPage .Firefox #Index{
	padding: 5px !important;
	margin: 5px !important;
  background: #FFFFFF;
	border:none;
  }


.CBody{
	margin:0 0 0 25px;
	padding:0;
}

.CLibrary{
	margin:0 10px 0 0;
}

.IPageTitle{
	margin:25px 25px 20px 10px;
	padding:0.25em 0.3em;
	font-size:120%;
	background:#DAEFFC url(../images/h1_bg.png) repeat-x left bottom;
	border:1px solid #BDCCDF;
	border-bottom:none;
	color:#4578DB;
	font-weight:bold;
}

.INavigationBar{
	margin:10px 25px 20px 10px;
	padding:0.3em;
	font-size:80%;
	background:#F5FEFC;
	border:2px solid #D2C3DB;
}


#Index table{
	margin:-20px 0 20px 10px;
	padding:0;
}

.IHeading{
	margin:20px 20px;
	padding:35px 0 5px 0;
	font-size:140%;
	font-weight:bold;
	color:#4578DB;
	text-align:center;
}

.ISymbolPrefix{
	border-left:1px solid #99CCCC;
	border-right:4px solid #9CD0EF;
	background:#EBF4FC;
	width:2em;
}

td.IEntry{
	margin:0;
	padding:0.3em 1em;
	font-size:90%;
}

td.IEntry a:link{
	font-weight:bold;
}

.CToolTip{
	margin:0.3em 10px;
}





#Menu {
  padding:0;
	position: absolute;
	top: 0px !important;
	left: 0px !important;
	margin: 75px 10px 0 30px;
	width: 210px ;
 	border:1px solid #CCCCCC;
  background: #F5FEFC;

   }
#Footer {
	margin:5px 34px 0 262px;
	padding:10px 0;
	height:50px;
}


#MSearchPanel{
	margin:0 0 5px 0;
	padding:15px 5px 0 5px;
  background: #F5FEFC;
	}


.CSection{
	margin:0;
	padding:0 15px 0 0;
  background: #FFFFFF;
}

.CTopic{
	margin:0 0 0 0;
	padding:0 10px;
}

.MTitle{
	display:none;
	height:0;
	line-height:0;
}

.MGroup{
	margin:0;
	padding:5px;
  background: #F5FEFC url(../images/MGroup_bg.png) repeat-x;
	font-size:110%;
	font-weight:bold;
}

.MGroupContent , .MEntry .MFile , .MFile {
	margin:10px -5px 0 -5px;
	padding:5px;
  background: #F5FEFC;
	font-size:90%;
	font-weight:normal;
}

.MEntry .MFile  {
	margin:0 ;
	padding:5px 5px 5px 7px;
  background: #F5FEFC;
}

.MGroupContent .MEntry .MFile  , .MGroupContent .MEntry .MIndex  {
	margin:0 ;
	padding:5px;
  background: #F5FEFC;
}


.MGroup a:link , .MGroup a:visited{
	color: #666666;
}
.MGroup a:hover ,.MGroup a:active {
	color: #0066FF;
}


.MGroupContent .MEntry .MFile a:link , .MGroupContent .MEntry .MFile a:visited{
	color: #0066FF;
}
.MGroupContent .MEntry .MFile a:hover{
	color: #993399;
}

.MGroupContent .MEntry .MIndex a:link , .MGroupContent .MEntry .MIndex a:visited{
	color: #0066FF;
}
.MGroupContent .MEntry .MIndex a:hover{
	color: #993399;
}

.MEntry .MFile a:link , .MEntry .MFile a:visited{
	color: #0066FF;
}
.MEntry .MFile a:hover{
	color: #993399;
}


#MSelected{
	font-weight:bold;
	margin:5px 0 0 0;
	padding:5px 5px 5px 23px;
  background: #FFFFFF url(../images/MSeleected_bg.png) no-repeat center left;
	color:#9966CC;
	border:2px solid #DDCEEC;
	font-size:110%;
}


/* search */


#MSearchResultsWindow{
  display: none;
  position: absolute;
  left: 0; top: 5px;
	width: 60ex ;
 	border:1px solid #CCCCCC;
  background: #F5FEFC;
}


#MSearchResults {
}

#MSearchResultsWindowClose {
	display:block;
	font-weight:bold;
	margin:5px 0 0 0;
	padding:5px 5px 5px 25px;
	background:#FFFFFF url(../images/close_frame.png) center left no-repeat;
	font-size:80%;
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
}


iframe{
	border:none;
	margin:7px 5px 5px!important;
	padding:0 !important;
	height:10em; 
	width:96%;
	background:#FFFFFF;
 	border:2px solid #D2C3DB !important;
	text-align:center;
}


.PopupSearchResultsPage{
	margin:0 !important;
	padding:0 0.5em !important;
  background: #FFFFFF !important;
	}

.PopupSearchResultsPage a:link , .PopupSearchResultsPage a:visited{
	color: #6633CC;
	font-weight:bold;
}
.PopupSearchResultsPage a:hover , .PopupSearchResultsPage a:active {
	color: #0066FF;
	font-weight:bold;
}

#MSearchResultsWindowClose:link, #MSearchResultsWindowClose:visited {
	color:#333333 !important;
	text-decoration:none;
}

#MSearchResultsWindowClose:hover, #MSearchResultsWindowClose:active {
	color: #0066FF !important;
	text-decoration:none;
}


.SRResult{
	margin:0;
	padding:0.25em 0;
}


/*table*/

.SBorder table , .CDescriptionList{
	margin:0 ;
	border:1px solid #CCCCCC;
	border-right:none;
	border-bottom:none;
}

.SBorder table td , .CDescriptionList td{
	margin:10px;
	padding:0.3em 0.5em 0.3em 0.3em;
	border-right:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
}


.CBody table{
	margin:10px;
}


.CDLEntry{
	font-weight:bold;
	color:#333333;
}


/*  CoolTips */

.CToolTip {
	position: absolute; visibility: hidden;
	left: 0; top: 0;
	color: #666666;
	padding: 5px;
        }

#Opera .CToolTip {
  max-width: 98%;
}

/*  Scrollbars would be useless.  */
.CToolTip blockquote {
  overflow: hidden;
	color: black;
   }

#IE6 .CToolTip blockquote {
ã€€overflow: visible;
   }
