*.o
*.EXE
*.EX5
*.BIN
*.DLL
*.DL5
*.a
dependencies
*.BMP
*.BM5
*.map
*.lst
*.bin
*.DT5
*.tar.gz
contrib/Graphics/Mesa/Mesa-6.2.1/
contrib/Net/uip/uip-0.9/
mona/bin/
mona/contrib
mona/core/elf_server/ELF.BN5
mona/core/pe_server/PE.BN5
mona/core/scheme/BoehmGC/gc-7.0/
mona/core/scheme/lib/batch.scm
mona/core/scheme/lib/conf.scm
mona/core/scheme/lib/core.scm
mona/core/scheme/lib/danny.scm
mona/core/scheme/lib/demo.scm
mona/core/scheme/lib/fib.scm
mona/core/scheme/lib/interact.scm
mona/core/scheme/lib/mona.scm
mona/core/scheme/lib/shell.scm
mona/core/scheme/lib/unittest.scm
mona/core/scheme/onig/onig-5.7.0/
mona/core/scheme/test/dir.scm
mona/core/scheme/test/port.scm
mona/core/scheme/test/shell.scm
mona/core/scheme/test/test.scm
mona/external/onig/onig-5.7.0/
mona/include/GL/
mona/include/audio.h
mona/include/baygui.h
mona/include/baygui/
mona/include/fat_write/
mona/include/gui/
mona/include/jpegls.h
mona/include/onig/
mona/include/pci/
mona/include/servers/audio.h
mona/include/servers/gui.h
mona/include/stlport/
mona/local/
mona/mona
mona/share/configs/Makefile.inc
mona/share/fat_write/
mona/tool/bim2bin/bim2bin
mona/tool/fat_write/Makefile
mona/tool/fat_write/config.h
mona/tool/fat_write/config.log
mona/tool/fat_write/config.status
mona/tool/fat_write/fat_write
mona/tool/fat_write/stamp-h1
mona/tool/mkimg/mona.img
mona/tool/mkimg/mona.iso
mona/tool/t5lzma/7zip/Compress/LZMA_Alone/Makefile
mona/tool/t5lzma/Makefile
mona/tool/t5lzma/t5lzma
contrib/Graphics/Mesa/.EXTRACT
contrib/Graphics/Mesa/.FETCH
contrib/Graphics/Mesa/.MAKE
contrib/Graphics/Mesa/.PATCH
contrib/Net/uip/.EXTRACT
contrib/Net/uip/.FETCH
contrib/Net/uip/.PATCH
mona/core/scheme/BoehmGC/.EXTRACT
mona/core/scheme/BoehmGC/.FETCH
mona/core/scheme/BoehmGC/.MAKE
mona/core/scheme/BoehmGC/.PATCH
mona/core/scheme/onig/.EXTRACT
mona/core/scheme/onig/.FETCH
mona/core/scheme/onig/.MAKE
mona/core/scheme/onig/.PATCH
mona/external/onig/.EXTRACT
mona/external/onig/.FETCH
mona/external/onig/.MAKE
mona/external/onig/.PATCH
mona/tool/fat_write/.deps/
GPATH
GRTAGS
GSYMS
GTAGS
*.back
*.bak
doc/config/Data/
doc/html/files/
doc/html/index.html
doc/html/index/
doc/html/javascript/
doc/html/search/
doc/html/styles/
