@charset "Shift_JIS";
/* this @charset is for mozilla's bug */
/*
/////////////////////////////////////////////////
// PukiWiki - Yet another WikiWikiWeb clone.
//
// $Id$
//
*/
/** Basic Elements **/

body {
	color:#000000;
	font-family: Tahoma,Verdana,'MS UI Gothic',Osaka;
	font-size:80%;
	line-height:1.5em;
	background-color:#FFFFFF;
	padding:0em;
	margin:0em;
}

input, textarea
{
	color:#000000;
	font-family: Tahoma,Verdana,'MS UI Gothic',Osaka;
	line-height:1.5em;
}

form
{
	margin:0em;
}

a:link, a:visited {
	color:#336699;
	text-decoration:none;
}
a:active, a:hover {
	color:#FF0000;
	text-decoration:underline;
}
img
{
	border-style:none;
	vertical-align: middle;
}


h1
{
	font-size:200%;
	color:#336699;
	font-weight:bold;
	padding:0.3em;
	margin-top:1.6em;
	margin-bottom:1.6em;
	text-align:center;
}

h2
{
	font-size:150%;
	background-image:url(../../pukiwiki/pukiwiki/img/headingbg.gif);
	background-repeat:repeat-x;
	background-color:#FFFFFF;
	padding:0.2em;
	margin-top:1.6em;
	margin-bottom:1.6em;
	font-weight:bold;
	border-width:1px;
	border-style:solid;
	border-color:#CCCCCC;
}

h3
{
	font-size:120%;
	background-image:url(../../pukiwiki/pukiwiki/img/headingbg.gif);
	background-repeat:repeat-x;
	background-color:#FFFFFF;
	padding:0.2em;
	padding-left:0.8em;
	margin-top:1.3em;
	margin-bottom:1.3em;
	font-weight:bold;
	border-width:1px;
	border-style:solid;
	border-color:#CCCCCC;
}

h4
{
	font-size:120%;
	padding:0.1em;
	padding-left:0.8em;
	margin-top:1em;
	margin-bottom:1em;
	font-weight:bold;
	border-bottom-style:solid;
	border-width:1px;
	border-color:#CCCCCC;
}

h5
{
	font-size:100%;
	padding:0.1em;
	padding-left:1.2em;
	margin-top:1em;
	font-weight:bold;
	border-bottom-style:dotted;
	border-width:1px;
	border-color:#CCCCCC;
}

h6
{
	font-size:100%;
	padding:0.1em;
	padding-left:1.8em;
	margin-top:1em;
	font-weight:bold;
}

p, dl, ol, ul, pre, blockquote, table
{
	margin-top:1em;
	margin-bottom:1em;
	margin-left:2em;
}

ol, ul
{
	list-style-position: outside;
	padding-left:3em;
	margin-left:0em;
}

dt
{
	margin-left:0em;
}

dd
{
	margin-left:2.2em;
}

pre
{
	font-family: Tahoma,Verdana,'MS UI Gothic',Osaka;
	padding:1em;
	border-style:solid;
	border-width:1px;
	border-color:#336699;
	background-color: #F7F9FB;
}

blockquote
{
	padding:1em;
	border-style:dotted;
	border-width:1px;
	border-color:#336699;
}

table
{
	padding:0em;
	border-style:solid;
	border-width:1px;
	border-color:#336699;
	border-collapse: collapse;
	background-color: #F7F9FB;
}

td
{
	padding:1em;
	border-style:solid;
	border-width:1px;
	border-color:#336699;
	background-color: #F7F9FB;
}

hr
{
	border-style:solid;
	border-width:1px;
	border-color:#DDDDDD;
}

em
{
	font-weight: italic;
}

strong
{
	font-weight: bold;
}

thead td.style_td,
tfoot td.style_td
{
	color:inherit;
	background-color:#D0D8E0;
}
thead th.style_th,
tfoot th.style_th
{
	color:inherit;
	background-color:#E0E8F0;
}
.style_table
{
	padding:0px;
	border:0px;
	margin:auto;
	text-align:left;
	color:inherit;
	background-color:#ccd5dd;
}
.style_th
{
	padding:5px;
	margin:1px;
	text-align:center;
	color:inherit;
	background-color:#EEEEEE;
}
.style_td
{
	padding:5px;
	margin:1px;
	color:inherit;
	background-color:#EEF5FF;
}

ul.list1
{
	list-style-type:disc;
}
ul.list2
{
	list-style-type:circle;
}
ul.list3
{
	list-style-type:square;
}
ol.list1
{
	list-style-type:decimal;
}
ol.list2
{
	list-style-type:lower-roman;
}
ol.list3
{
	list-style-type:lower-alpha;
}

div.ie5
{
	text-align:center;
}

span.noexists
{
	color:inherit;
	background-color:#FFFACC;
}

.small
{
	font-size:90%;
}

.super_index
{
	color:#DD3333;
	background-color:inherit;
	font-weight:bold;
	font-size:60%;
	vertical-align:super;
}

a.note_super
{
	color:#DD3333;
	background-color:inherit;
	font-weight:bold;
	font-size:60%;
	vertical-align:super;
}

div.jumpmenu
{
	font-size:60%;
	text-align:right;
}

/**
hr.full_hr
{
	border-style:ridge;
	border-color:#333333;
	border-width:1px 0px;
}
hr.note_hr
{
	width:90%;
	border-style:ridge;
	border-color:#333333;
	border-width:1px 0px;
	text-align:center;
	margin:1em auto 0em auto;
}
/**/

span.size1
{
	font-size:xx-small;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
span.size2
{
	font-size:x-small;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
span.size3
{
	font-size:small;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
span.size4
{
	font-size:medium;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
span.size5
{
	font-size:large;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
span.size6
{
	font-size:x-large;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
span.size7
{
	font-size:xx-large;
	line-height:130%;
	text-indent:0px;
	display:inline;
}

/* html.php/catbody() */
strong.word0
{
	background-color:#FFFF66;
	color:black;
}
strong.word1
{
	background-color:#A0FFFF;
	color:black;
}
strong.word2
{
	background-color:#99FF99;
	color:black;
}
strong.word3
{
	background-color:#FF9999;
	color:black;
}
strong.word4
{
	background-color:#FF66FF;
	color:black;
}
strong.word5
{
	background-color:#880000;
	color:white;
}
strong.word6
{
	background-color:#00AA00;
	color:white;
}
strong.word7
{
	background-color:#886800;
	color:white;
}
strong.word8
{
	background-color:#004699;
	color:white;
}
strong.word9
{
	background-color:#990099;
	color:white;
}

/* html.php/edit_form() */
.edit_form
{
     clear:both;
}

/* pukiwiki.skin.*.php */

/*************************************************************/

div#Header
{
	width:100%;
	background-color:#99B3CC;
	line-height:0em;
}

div#Menu
{
	width:100% - 1em;
	padding:0.5em;
	text-align:center;
	background-color:#DDDDDD;
}
div#Menu a:link, div#Menu a:visited
{
	padding:0.2em;
	padding-bottom:0.8em;
	font-weight:bold;
	margin-bottom:0em;
	text-decoration:none;
}
div#Menu a:active, div#Menu a:hover
{
	background-color:#FFFFFF;

	color:#336699;
}
div#LinkSF {
	width:96px;
	margin:1em;
	margin-left:auto;
}

h1#title
{
	margin-top:0.3em;
	margin-bottom:0.3em;
}

p.PageLink
{
	text-align:center;
	margin-bottom:0em;
}

p.Attention
{
	font-size:220%;
	color:#FF0000;
	text-align:center;
	margin-top:1em;
	margin-bottom:2em;
}
p.Attention a:link, p.Attention a:visited {
	color:#FF0000;
	text-decoration:underline;
}
p.Attention a:active, p.Attention a:hover {
	color:#336699;
	text-decoration:underline;
}
p.Attention small
{
	font-size:70%;
}

div#Contents, div#related, div#modify, div#versioninfo, div#converttime
{
	width:80%;
	margin-left:auto;
	margin-right:auto;
}
div#ContentsF
{
	width:75%;
	float:right;
}
div#Panels
{
	width:20%;
	float:left;
}

div#Copyright
{
	width:82%;
	margin-left:auto;
	margin-right:auto;
	border-top-style:solid;
	border-width:1px;
	border-color:#DDDDDD;
	text-align:center;
	color:#999999;
}

hr.Start, hr.note
{
	width:0em;
	height:0em;
	margin:0em;
	padding:0em;
	border-color:#FFFFFF;
	clear:both;
}

/********************************************************/

div#note, div#attach, div#toolbar
{
	width:80%;
	margin-top:1em;
	margin-bottom:1em;
	margin-left:auto;
	margin-right:auto;
	padding-left:1em;
	border-top-style:dotted;
	border-width:1px;
	border-color:#DDDDDD;
}

div#toolbar
{
	text-align:center;
	border-bottom-style:dotted;
}

div#related, div#modify, div#versioninfo, div#converttime
{
	font-size:80%;
	padding:0.5em;
}

div#preview
{
	padding:0.5em;
	background-color: #F7F9FB;
	border-color:#336699;
	border-style:dotted;
	border-width:1px;
	margin-bottom:1em;
}

/********************************************************/
/**
div#header
{
	padding:0px;
	margin:0px;
}

div#navigator
{
	clear:both;
	padding:4px 0px 0px 0px;
	margin:0px;
}

td.menubar
{
	width:9em;
	vertical-align:top;
}

div#menubar
{
	width:9em;
	padding:0px;
	margin:4px;
	word-break:break-all;
	font-size:90%;
	overflow:hidden;
}

div#menubar ul
{
	margin:0px 0px 0px .5em;
	padding:0px 0px 0px .5em;
}

div#menubar ul li
{
	line-height:110%;
}

div#menubar h4
{
	font-size:110%;
}

div#body
{
	padding:0px;
	margin:0px 0px 0px .5em;
}

div#note
{
	clear:both;
	padding:0px;
	margin:0px;
}

div#attach
{
	clear:both;
	padding:0px;
	margin:0px;
}

div#toolbar
{
	clear:both;
	padding:0px;
	margin:0px;
	text-align:right;
}

div#lastmodified
{
	font-size:80%;
	padding:0px;
	margin:0px;
}

div#related
{
	font-size:80%;
	padding:0px;
	margin:16px 0px 0px 0px;
}

div#footer
{
	font-size:70%;
	padding:0px;
	margin:16px 0px 0px 0px;
}

div#preview
{
	color:inherit;
	background-color:#F5F8FF;
}
/**/

img#logo
{
	float:left;
	margin-right:20px;
}

/* aname.inc.php */
.anchor
{
}
.anchor_super
{
	font-size:xx-small;
	vertical-align:super;
}

/* br.inc.php */
br.spacer
{
}

/* calendar*.inc.php */
.style_calendar
{
	padding:0px;
	border:0px;
	margin:3px;
	color:inherit;
	background-color:#CCD5DD;
	text-align:center;
}

.style_td_caltop
{
	padding:5px;
	margin:1px;
	color:inherit;
	background-color:#EEF5FF;
	font-size:80%;
	text-align:center;
}

.style_td_today
{
	padding:5px;
	margin:1px;
	color:inherit;
	background-color:#FFFFDD;
	text-align:center;
}

.style_td_sat
{
	padding:5px;
	margin:1px;
	color:inherit;
	background-color:#DDE5FF;
	text-align:center;
}

.style_td_sun
{
	padding:5px;
	margin:1px;
	color:inherit;
	background-color:#FFEEEE;
	text-align:center;
}

.style_td_blank
{
	padding:5px;
	margin:1px;
	color:inherit;
	background-color:#EEF5FF;
	text-align:center;
}

.style_td_day
{
	padding:5px;
	margin:1px;
	color:inherit;
	background-color:#EEF5FF;
	text-align:center;
}

.style_td_week
{
	padding:5px;
	margin:1px;
	color:inherit;
	background-color:#DDE5EE;
	font-size:80%;
	font-weight:bold;
	text-align:center;
}

/* clear.inc.php */
.clear{
	margin:0px;
	clear:both;
}

/* counter.inc.php */
div.counter
{
	font-size:70%;
}

/* diff.inc.php */
span.diff_added
{
	color:blue;
	background-color:inherit;
}

span.diff_removed
{
	color:red;
	background-color:inherit;
}

/* hr.inc.php */
hr.short_line
{
	text-align:center;
	width:80%;
	border-style:solid;
	border-color:#333333;
	border-width:1px 0px;
}

/* include.inc.php */
h5.side_label
{
	text-align:center;
}

/* navi.inc.php */
ul.navi
{
	margin:0px;
	padding:0px;
	text-align:center;
}

li.navi_none
{
	display:inline;
	float:none;
}

li.navi_left
{
	display:inline;
	float:left;
	text-align:left;
}

li.navi_right
{
	display:inline;
	float:right;
	text-align:right;
}

/* new.inc.php */
span.comment_date
{
	font-size:x-small;
}
span.new1
{
	color:red;
	background-color:transparent;
	font-size:x-small;
}
span.new5
{
	color:green;
	background-color:transparent;
	font-size:xx-small;
}

/* popular.inc.php */
span.counter
{
	font-size:70%;
}
ul.popular_list
{
/*
	padding:0px;
	border:0px;
	margin:0px 0px 0px 1em;
	word-wrap:break-word;
	word-break:break-all;
*/
}

/* recent.inc.php,showrss.inc.php */
ul.recent_list
{
/*
	padding:0px;
	border:0px;
	margin:0px 0px 0px 1em;
	word-wrap:break-word;
	word-break:break-all;
*/
}

/* ref.inc.php */
div.img_margin
{
	margin-left:32px;
	margin-right:32px;
}

/* vote.inc.php */
td.vote_label
{
	color:inherit;
	background-color:#FFCCCC;
}
td.vote_td1
{
	color:inherit;
	background-color:#DDE5FF;
}
td.vote_td2
{
	color:inherit;
	background-color:#EEF5FF;
}
