h4 {
	margin: 1.5em;
	font-weight: bold;
	margin-bottom: 0em;
}

ul, ol {
	margin-left: 2.5em;
	padding-left: 0em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	line-height:130%;
}

dl {
	margin-left: 2em;
	line-height:130%;
}

dt {
	margin-bottom: 0.2em;
	font-weight: bold;
}

dd {
	margin: 0em 3em 0.5em 1em;
}

.diff_added{
	color: blue;
}

.diff_removed{
	color: red;
}

div.jumpmenu{
	display: none;
}

strong.word0{
	background-color: yellow;
}

.comment_now{
	font-size: 90%;
	color: #666;
}