/*
Title: クールアイス
Revision: $Revision$
Author: ただただし
Access: sho@spc.gr.jp
License: GPL
Comment: 夏向きのシンプルで涼しげなテーマ

Copyright 2002 (C) by TADA Tadashi <sho@spc.gr.jp>
Validated by W3C.
*/

body {
	background-color: #fff;
	color: #008;
	font-family: osaka,'MS PGothic',sans-serif;
}

a:link {
	color: #33f;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: #00f;
	background-color: transparent;
	text-decoration: none;
}

div.adminmenu {
	text-align: right;
	margin-top: 0px;
}

span.adminmenu {
	font-size: x-small;
	color: #008;
	background-color: transparent;
	background-image: url(cool_ice_menu.png);
	background-repeat: repeat-x;
	border-style: none;
	line-height: 24px;
	height: 24px;
	padding: 2px;
}

h1 {
	color: #89dbff;
	background-color: transparent;
	text-align: right;
}

div.day h2 {
	background-image: url(cool_ice_h2.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 48px;
	line-height: 48px;
	text-align: center;
	font-size: medium;
}

div.body {
	margin-left: 2%;
	margin-right: 2%;
	line-height: 100%;
}

div.body h3 {
	font-size: medium;
	border-style: solid;
	border-color: #89dbff;
	border-width: 0px 0px 1px 0px;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
	padding: 4px;
}

div.day span.sanchor {
	background-image: url(cool_ice_anchor.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 12px 12px 0px 0px;
	color: #fff;
	background-color: transparent;
	font-size: 1px;
}

div.day span.canchor {
	background-image: url(cool_ice_anchor.png);
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 16px 16px 0px 0px;
	color: #cfd;
	background-color: transparent;
	font-size: 1px;
}

div.body p {
	margin-top: 0px;
	margin-bottom: 0.5em;
	margin-left: 1em;
	color: #008;
	background-color: transparent;
}

div.body pre {
	color: #008;
	background-color: transparent;
	border-style: solid;
	border-width: 1px 1px 1px 3px;
	border-color: #89dbff;
/*	overflow: auto; */
	padding: 8px;
	margin-left: 2em;
}

div.body blockquote {
	color: #008;
	background-color: transparent;
	border-style: solid;
	border-color: #89dbff;
	border-width: 4px 0px 4px 0px;
	padding: 4px;
	margin-left: 3em;
	margin-right: 3em;
}

div.body blockquote p {
	margin-left: 0em;
}

div.body li {
	margin-left: 2em;
}

div.body dl {
	margin-left: 2em;
}

div.body dt {
	border-style: solid;
	border-color: #89dbff;
	border-width: 0px 0px 1px 0px;
	margin-top: 0.7em;
}

div.body dd {
	margin-top: 0.3em;
	margin-bottom: 0.5em;
	margin-left: 2em;
}

div.comment {
	border-style: solid;
	border-color: #89dbff;
	border-width: 1px;
	color: #008;
	background-color: transparent;
	margin-top: 1em;
	margin-bottom: 0.5em;
	padding: 4px;
	font-size: small;
	margin-left: 3em;
}
div.day div.comment {
	margin-left: 15%;
	margin-right: 15%;
}

div.form div.comment {
	margin-right: 1em;
	color: #008;
	background-color: transparent;
}

div.comment p {
	margin-top: 0px;
	margin-bottom: 0.5em;
}

div.comment p.commenttitle {
	border-style: dashed;
	border-color: #89dbff;
	border-width: 0px 0px 1px 0px;
}


div.form {
	border-style: solid;
	border-color: #89dbff;
	border-width: 1px;
	margin-left: 15%;
	margin-right: 15%;
	color: #008;
	background-color: transparent;
}

div.day div.form {
	margin-top: 0px;
	margin-bottom: 0.5em;
	font-size: small;
}

div.form form {
	margin: 0;
	padding: 4px 4px 4px 4px;
	width: 100%;
}

div.form p {
	margin-top: 0px;
	margin-bottom: 0.5em;
	padding-left: 4px;
}

div.form textarea {
	margin-left: 2em;
}

div.referer {
	text-align: right;
	font-size: x-small;
	margin-top: 0px;
}

div.refererlist {
	border-style: solid;
	color: #008;
	border-color: #89dbff;
	border-width: 1px;
	background-color: transparent;
	margin-top: 0px;
	margin-bottom: 0.5em;
	margin-left: 3em;
	font-size: small;
}
div.day div.refererlist {
	margin-left: 15%;
	margin-right: 15%;
}

div.refererlist ul {
	margin-left: 2em;
}

div.form div.refererlist {
	margin-right: 1em;
	color: #008;
	background-color: #fff;
}

div.refererlist p, div.refererlist ul {
	margin-top: 0px;
	margin-bottom: 0em;
	padding: 4px 4px 4px 4px;
}

hr {
	color: #008;
	background-color: transparent;
	margin-top: 0.5em;
}

hr.sep {
	display: none;
}

div.footer {
	text-align: right;
	font-size: x-small;
}

form div.body {
	border-style: solid;
	border-color: #89dbff;
	border-width: 1px;
	padding: 0px 4px 4px 4px;
}

/*
 for plugins
 */

/* calendar */
div.calendar {
	color: #008;
	background-color: #fff;
	text-align: right;
	font-size: x-small;
}

/* calendar2 */
table.calendar {
	font-size: x-small;
	line-height: 100%;
	border-width: 0px;
}

table.calendar td {
	margin: 0px;
	text-align: right;
	padding: 0px;
	margin: 0px;
}

table.calendar td.calendar-prev-month, table.calendar td.calendar-current-month, table.calendar td.calendar-next-month {
	text-align: center;
}

/* recent_list */
p.recentitem {
	font-size: x-small;
	margin-top: 0px;
	margin-bottom: 0px;
}

div.recentsubtitles {
	font-size: x-small;
	margin-top: 0px;
	margin-bottom: 1em;
	margin-left: 1em;
}

/* footnote */
div.body span.footnote {
	vertical-align: super;
	font-size: xx-small;
}

div.footnote {
	border-style: solid;
	border-color: #89dbff;
	border-width: 1px 0px 0px 0px;
	margin-left: 3em;
	font-size: small;
}

/* amazon plugin */
img.left {
	border-width: 1px;
	border-color: #89dbff;
	float: left;
}

img.right {
	border-width: 1px;
	border-color: #89dbff;
	float: right;
}

div.section, div.comment {
	clear: both;
}

/*
 for Asumi Diary layout
 */
div.main {
	margin-left: 20%;
}

div.sidebar {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 20%;
	font-size: x-small;
	padding: 2px 2px 100% 2px;
	border-style: solid;
	border-color: #89dbff;
	border-width: 1px;
	color: #008;
	background-color: transparent;
	background-color: #deffff;
}

div.sidebar p {
	line-height: 100%;
	text-align: center;
	border-style: solid;
	border-color: #89dbff;
	border-width: 0px 0px 1px 0px;
	margin: 2px 4px 2px 4px;
}

/*
ツッコミ省略版本文
*/
div.commentshort {
        font-size: 0.9em;
        margin-left: 0.5em;
}

span.commentator {
        font-weight: bold;
}

div.commentshort p {
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        line-height: 1.2em;
}

/*
ツッコミ本体
*/
div.commentbody {
        font-size: 0.9em;
        margin: 0.5em;
        line-height: 1.2em;
}

/*
ツッコミした人の情報
*/
div.commentator {
        line-height: 1.5em;
}

/*
ツッコミ本文
*/
div.commentbody p {
        margin: 0.5em;
        margin-left: 2em;
}

/*
フォームの設定
*/
div.form form {
        margin: 0em 0em 0em 2em;
}

div.form div.caption {
        font-size: 0.9em;
        margin: 0.5em;
}

div.form form.comment {
        font-size: 0.9em;
}

div.field {
        display: inline;
        margin-right: 2em;
}

form.comment input {
        margin-left: 1em;
}

div.textarea {
        display: block;
        vertical-align: top;
}

form.comment textarea {
        display: block;
        margin-left: 3em;
        width: 30em;
        height: 5em;
}

div.button {
        display: block;
        margin-left: 3em;
}

/*
更新フォーム
*/
form.update {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
}

form.update input, form.update textarea, form.commentstat input {
}

form.update span.field {
        display: inline;
        margin-left: 0em;
        margin-right: 0.5em;
}

form.update div.field.title {
        display: block;
        margin-top: 1em;
}

form.update div.field.title input {
        margin-left: 0.5em;
}

form.update div.textarea {
        display: block;
        margin-top: 1em;
}

form.update textarea {
        display: block;
        margin-left: 3em;
        margin-bottom: 1em;
        width: 30em;
        height: 15em;
}

form.update span.checkbox.hidediary {
        margin-left: 1em;
}

/*
ツッコミ状態変更フォーム
*/
div.comment form {
        margin-top: 0em;
}
